<!-- Config file for the game -->

<config>
  <app>
    <title>Slime Fall</title>
    <organization>UPC</organization>
  </app>
  <renderer>
    <vsync value="true"/>
    <debug zoom="1" max_zoom="4"/>
    <blit margin="30"/>
  </renderer>
  <audio>
      <fade_time default="1.0"/>
      <volume_music default="40"/>
      <volume_sfx default ="40"/>
      <mute value="false"/>
  </audio>
  <window>
    <resolution width="1280" height="720" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  <file_system>
    <path>data.zip</path>
  </file_system>
  <map>
    <folder>maps/</folder>
  </map>
  <player>
    <texture path ="textures/player_animation.png"/>
    <texture_death path ="textures/player_death_animation.png"/>
    <jump_fx>
      <jump1 path ="audio/fx/jump1.wav"/>
      <jump2 path ="audio/fx/jump2.wav"/>
      <jump3 path ="audio/fx/jump3.wav"/>
      <jump4 path ="audio/fx/jump4.wav"/>
      <jump5 path ="audio/fx/jump5.wav"/>
    </jump_fx> 
    <collider width="15" height="15"/>
    <physics gravity ="0.3" speed_air ="2.5" speed_ground ="0" speed_jump ="7" speed_gummy_jump ="3" />
  </player>
  <level_1 phases ="3" current_phase="2">
    <music path="audio/music/Level1.ogg"/>
    <background path="textures/Parallax.png"/>
    <phase id ="1" map_path ="Level1_1.tmx"/>
    <phase id= "2" map_path ="Level1_2.tmx"/>
    <phase id ="3" map_path ="Level1_3.tmx"/>
  </level_1>
</config>