<!-- Config file for the game -->

<config>
  <app>
    <title>Slime Fall</title>
    <organization>UPC</organization>
  </app>
  <renderer>
    <vsync value="true"/>
  </renderer>
  
  <audio>
      <volume_music default="20"/>
      <volume_sfx default ="20"/>
      <mute value="false"/>
  </audio>
  
  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  <file_system>
    <path>data.zip</path>
  </file_system>
  <map>
    <folder>maps/</folder>
  </map>
  <player>
    <texture path =""/>
    <collider width="20" height="20"/>
    <physics gravity ="0.1" speed_air ="1.5"  speed_ground ="2" speed_jump ="10"/>
  </player>
  <scene>
    <music path="audio/music/Level1.ogg"/>
  </scene>
</config>